.app-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 20px;
  padding: 20px;
}

app-product-form {
  flex: 1;
  max-width: 45%;
}

app-product-list {
  flex: 1;
  max-width: 45%;
}
